# Maven build outputs
/target/
/build/

# Serenity reports and screenshots
/target/site/serenity/
/target/site/thucydides/
/target/site/reports/
/target/screenshots/
/target/failsafe-reports/
/target/surefire-reports/

# IDE/Editor files
/.idea/
/*.iml
/.vscode/
/.classpath
/.project
.settings/

# OS junk
.DS_Store
Thumbs.db
